<div class="gf-form-group">
  <div class="gf-form-inline">
    <div class="gf-form width-18">
      <div class="gf-form-select-wrapper width-18 gf-form-select-wrapper--has-help-icon">
        <select class="gf-form-input" ng-model="ctrl.annotation.type"
                ng-options="f as f for f in ['command', 'notification']"
                ng-change="ctrl.annotation.onChangeInternal()"></select>
        <info-popover mode="right-absolute">Entity</info-popover>
      </div>
    </div>

    <div class="gf-form width-18">
      <div class="gf-form-input-wrapper width-18 gf-form-input-wrapper--has-help-icon">
        <input class="gf-form-input" ng-model="ctrl.annotation.entityName" spellcheck="false"
               ng-blur="ctrl.annotation.onChangeInternal()" placeholder="{{ ctrl.annotation.type }} name"/>
        <info-popover mode="right-absolute">Name</info-popover>
      </div>
    </div>

    <div class="gf-form width-18">
      <div class="gf-form-input-wrapper width-18 gf-form-input-wrapper--has-help-icon">
        <input class="gf-form-input" ng-model="ctrl.annotation.dataPath" spellcheck="false"
               ng-blur="ctrl.annotation.onChangeInternal()" placeholder="Path: (parameters...)"/>
        <info-popover mode="right-absolute">Data Path</info-popover>
      </div>
    </div>
  </div>
</div>


