<h3 class="page-heading">DeviceHive Configuration</h3>

<div class="gf-form">
  <label class="gf-form-label width-7">Server URL</label>
  <input type="text" class="gf-form-input max-width-23" ng-model="ctrl.current.jsonData.serverURL" spellcheck="false" placeholder="ws://..." required/>
</div>

<div class="gf-form">
  <label class="gf-form-label width-7">Device ID</label>
  <input type="text" class="gf-form-input max-width-23" ng-model="ctrl.current.jsonData.deviceId" spellcheck="false" placeholder="a1b2c3..." required/>
</div>

<div class="gf-form">
  <label class="gf-form-label width-7">Login</label>
  <input type="text" class="gf-form-input max-width-23" ng-model="ctrl.current.jsonData.auth.login" spellcheck="false" placeholder="testUser" required/>
</div>

<div class="gf-form">
  <label class="gf-form-label width-7">Password</label>
  <input type="password" class="gf-form-input max-width-23" ng-model="ctrl.current.jsonData.auth.password" spellcheck="false" placeholder="testPassword" required/>
</div>