 <!-- <datasource-http-settings current="ctrl.current">
  
</datasource-http-settings>  -->

<div class="gf-form">
  <input type="text" class="tight-form-input" rows="5" ng-model="ctrl.current.jsonData.serverURL" spellcheck="false" placeholder="Server URL"/>
</div>

<div class="gf-form">
  <input type="text" class="tight-form-input" rows="5" ng-model="ctrl.current.jsonData.deviceId" spellcheck="false" placeholder="device ID"/>
</div>

<div class="gf-form">
  <input type="text" class="tight-form-input" rows="5" ng-model="ctrl.current.jsonData.auth.login" spellcheck="false" placeholder="login"/>
</div>

<div class="gf-form">
  <input type="password" class="tight-form-input" rows="5" ng-model="ctrl.current.jsonData.auth.password" spellcheck="false" placeholder="password"/>
</div>