<query-editor-row query-ctrl="ctrl" class="generic-datasource-query-row" has-text-edit-mode="true">
    <div class="gf-form-inline">

        <div class="gf-form-select-wrapper width-12 gf-form-select-wrapper--has-help-icon">
            <select class="gf-form-input" ng-model="ctrl.target.type"
                    ng-options="f as f for f in ['command', 'notification']"
                    ng-change="ctrl.onChangeInternal()"></select>
            <info-popover mode="right-absolute">Entity</info-popover>
        </div>

        <div class="gf-form width-18 gf-form-input-wrapper--has-help-icon">
            <input class="gf-form-input" ng-model="ctrl.target.name" spellcheck="false"
                   ng-blur="ctrl.onChangeInternal()" placeholder="{{ ctrl.target.type }} name"/>
            <info-popover mode="right-absolute">Name</info-popover>
        </div>

        <div class="gf-form width-18 gf-form-input-wrapper--has-help-icon">
            <input class="gf-form-input" ng-model="ctrl.target.dataPath" spellcheck="false"
                   ng-blur="ctrl.onChangeInternal()" placeholder="Path: (parameters...)"/>
            <info-popover mode="right-absolute">Data Path</info-popover>
        </div>

        <div ng-repeat="converter in ctrl.target.converters track by $index" class="gf-form">
            <converter
                    converter-name="converter.name"
                    arg-values="converter.argValues"
                    on-delete="ctrl.onDeleteConverter($index)">
            </converter>
        </div>
        <converter-selector on-select="ctrl.onAddConverter(converterName)"></converter-selector>

        <div class="gf-form gf-form--grow">
            <div class="gf-form-label gf-form-label--grow"></div>
        </div>

        <div class="gf-form">
            <label class="gf-form-label width-7 query-keyword" ng-click="ctrl.showHelp = !ctrl.showHelp">
                {{ ctrl.showHelp ? "Hide help" : "Show Help" }}
                <i class="fa fa-caret-down" ng-show="ctrl.showHelp"></i>
                <i class="fa fa-caret-right" ng-hide="ctrl.showHelp"></i>
            </label>
        </div>

    </div>

    <div class="gf-form" ng-show="ctrl.showHelp">
    <pre class="gf-form-pre alert alert-info help-information">

        <b>- Entity</b>
        <b><i>Command</i></b>: represents a message dispatched by clients for devices
        <b><i>Notification</i></b>: represents a message dispatched by devices for clients
        <br>
        <b>- Name</b>
        Name clarification
        <br>
        <b>- Data path</b>
        Data path clarification
        <br>
        <b>- Scale</b>
        Scale clarification

        <hr>
        <a href="https://docs.devicehive.com/docs" target="_blank">Official documentation</a>
        <a href="https://github.com/devicehive" target="_blank">GitHub</a>

    </pre>
    </div>

</query-editor-row>
