<query-editor-row query-ctrl="ctrl" class="generic-datasource-query-row" has-text-edit-mode="true">
  <div class="gf-form-inline">
    <div class="gf-form max-width-8">
      <select class="gf-form-input" ng-model="ctrl.target.type" ng-options="f as f for f in ['command', 'notification']" ng-change="ctrl.onChangeInternal()"></select>
    </div>

    <div class="gf-form">
      <input class="gf-form-input" ng-model="ctrl.target.dataPath" spellcheck="false" ng-blur="ctrl.onChangeInternal()" />
    </div> 
  </div>
</query-editor-row>
